[user]
	email = azuresky.xjc@gmail.com
	name = xiao jiancheng

[alias]
	co = checkout
	ci = commit
	st = status

[color]
	diff = auto
	status = auto

[merge]
	tool = vimdiff

[mergetool]
	prompt = false

[pull]
	rebase = true

[push]
	default = current
